/*
    Colors and styles on cards are from bootstrap

    colors:
    https://getbootstrap.com/docs/4.5/getting-started/theming/#css-variables

    cards:
    https://getbootstrap.com/docs/4.5/components/card/
*/

.card {
  margin-bottom: 25px;
  border-color: var(--secondary);
}

.card-header{
  background-color: var(--secondary);
  color: var(--white);
}

.divider {
  border-color: var(--primary);
  background-color: var(--primary);
  text-align: center;
}